body {
    background-color: rgb(201, 219, 253);
}

.container {
    background-color: rgb(109, 141, 199);
    margin-top: 5em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 3em;
}

h1 {
    text-align: center;
}